/* CSS declarations go here */


.comment-input{
    border:1px solid black;
    padding: 10px;
}
#chat-area div.value{
    padding-left: 5px;
}

.comments{
    margin:10px;
}

.history{
    height:200px;
    overflow: auto;
}
button.active{
    coloer :#acccce
}

.pos-right{
    float:right;
}

.title{
    padding-left: 10px;
    border-left: solid teal 5px;
}

.filter{
    position: absolute;
}
