/* CSS declarations go here */

.content{
    padding: 10px;
}
div.limit-height{
    max-height: 100px;
}

.comment-input{
    border:1px solid black;
    padding: 10px;
}
#chat-area div.value{
    padding-left: 5px;
}

.comments{
    margin:10px;
}

.history{
    height:200px;
    overflow: auto;
}
button.active{
    color :#acccce
}

.title{
    padding-left: 10px;
    border-left: solid teal 5px;
}

.filter{
    position: absolute;
}

.pos-right{
    float:right;
}
.pos-left{
    float: left;
}
.vscroll{
  overflow-y: auto;  
}